.card-1 {
    background: rgb(97,114,204);
    background: linear-gradient(90deg, rgba(97,114,204,1) 16%, rgba(124,60,208,1) 34%, rgba(252,69,239,1) 77%);
}



.h6{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

